<!-- index.html -->

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>New world price randomizer</title>

  <!-- CSS -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">

</head>
<body id="prices">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand">New world price calculator</a>
    </div>
  </nav>

  <div class="container">
    <div class="col-sm-6">
      <table id="raw">
        <tr>
          <th id="leftie">Name</th>
          <th>Price</th>
        </tr>
        <tr v-for="(key, value) in materials">
          <td id="leftie">{{ key }}</td>
          <td v-for="secondKey in materials[key]">
            <a href="#" v-on:click="addPrice(secondKey, key)" v-if="isNumber(secondKey)">{{ secondKey }}</a>
            <img v-if="!isNumber(secondKey)" :src="secondKey + '.png'"/>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-sm-6">
      <table id="stocks">
        <tr>
          <th id="leftie">Name</th>
          <th/>
          <th>0 houses</th>
          <th>1 house</th>
          <th>2 houses</th>
          <th>3 houses</th>
          <th>4 houses</th>
        </tr>
        <tr v-for="(key, value) in stocks">
          <td id="leftie">{{ key }}</td>
          <td v-for="secondKey in stocks[key]">
            <a href="#" v-on:click="addPrice(secondKey, key)" v-if="isNumber(secondKey)">{{ secondKey }}</a>
            <button id="subAddButtons"v-if="isNumber(secondKey)" v-on:click="addPrice(secondKey, key)">+</button>
            <button id="subAddButtons" v-if="isNumber(secondKey)" v-on:click="subPrice(secondKey, key)">-</button>
            <img v-if="!isNumber(secondKey)" :src="secondKey + '.png'"/>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-sm-12">
      <div class="bottomPage">
        <p id="total">Total: {{ currentTotal }}</p>
        <div id="buttons">
          <button class="btn btn-primary" v-on:click="randomizePrices()">Randomize</button>
          <button class="btn btn-danger" v-on:click="undoAction()">Undo</button>
        </div>
        <p id="history" v-for="item in history" track-by="$index">{{ item }}
          <a href="#" v-on:click="removeFromHistory($index, history[$index][1])">
            <img id="xmark" src="xmark.png"/>
          </a>
        </p>
      </div>
    </div>
  </div>

  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="app.js"></script>

</body>
</html>
