#stocks {
    text-align: center;
    width: 100%;
}

#raw {
    text-align: center;
    width: 60%;
}

th {
  text-align: center;
  padding-top: 2px;
  padding-bottom: : 2px;
}

#leftie {
  text-align: left;
}

#rightie {
  text-align: right;
}

.bottomPage {
  padding-top: 30px;
  text-align: center;
}

.container-fluid {
  text-align: center;
}

#total {
  font-size: 26px;
  font-weight: bold;
}

img {
  width: 25px;
  height: 25px;
}

tr {
  padding-bottom: 10px;
}

#history {
  font-size: 16px;
  margin-bottom: -5px;
  font-weight: bold;
}

#buttons {
  margin-bottom: 10px;
}
/*
#subAddButtons {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background-color: rgb(255, 102, 102);
}
*/

.subAddButtons {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
  height: 20px;
  width: 20px;
}


#xmark {
  height: 10px;
  width: 10px;
}
